@import '../../assets/styles/colors.scss';

#footer {
  padding: 10px 0px;
  .row {
    display: flex;
    justify-content: center;
    .col-lg-9 {
      display: flex;
      justify-content: center;
      span {
        color: $primary-theme-color-hex;
        font-size: 14px;
      }
    }
  }
}