@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');

// global
.col {
  padding: 0;
}
.animation-div .aos-init{
  overflow: hidden;
}
// global

.App {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  background: white;
  width: 100%;
  
  .container {
    padding: 0;
  }
  .card {
    background: transparent;
    margin: 25px auto;
    color: #9000ff;
    border: none;
  }
  .main-container {
    padding: 0;
    height: auto;
    #navigation-bar {
      position: sticky;
      top: 0;
      z-index: 10000;
      background: #fff;
      .navbar-light {
        .navbar-toggler {
          color: #9000ff;
          border: none;
        }
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='purple' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
      }
      nav {
        width: 100%;
        display: flex;
        // box-shadow: 0px 5px 19px 2px rgba(0, 0, 0, 0.75);
        .navbar-brand {
          display: flex;
          span {
            font-weight: 700;
            font-size: 1.5625rem;
            color: #9000ff;
            margin: 0;
          }
        }
        a {
          font-weight: 700;
          color: #9000ff;
        }
        a.active {
          opacity: 1;
          font-weight: 900;
          font-size: 20px;
        }
      }
    }
    .body-container {
      width: 100%;
      height: 830px;
      overflow: hidden;
      .myself {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-flow: column;
        .picture-or-animation,
        .type-animation,
        .intro {
          margin: 0 auto;
        }
        .job-description {
          font-weight: 700;
          font-size: 2rem;
        }
      }
      .particles {
        position: relative;
        width: 100%;
        height: 100%;
        #tsparticles{
          position: relative;
          height: 100%;
        }
        .atup{
          position: relative;
          height: 100%;
        }
      }
    }
    #about-me {
      background: #9000ff;
      .card {
        color: white;
        .row {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          .col-10 {
            .introductory {
              font-size: 36px;
              font-weight: 700;
              width: 100%;
            }
            .message {
              text-align: justify;
              line-height: 1.6;
              a {
                color: #00e7ff;
              }
            }
          }
        }
      }
    }
    #skills {
      .card {
        color: #000;
        .row {
          padding: 10px 0px;
          display: flex;
          justify-content: center;
        }
        .col-md-12 {
          .animation-div {
            padding: 10px 0px;
          }
        }
        .col-md-12,
        .col-lg-3,
        .col-lg-6 {
          display: flex;
          justify-content: center;
          .animation-div {
            img {
              filter: brightness(75%);
              -webkit-animation-duration: 1s;
              animation-duration: 1s;
              -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
              -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
              animation-iteration-count: 1;
              -webkit-animation-iteration-count: 1;
            }
            img:hover {
              filter: brightness(100%);
              cursor: pointer;
              animation-name: bounce;
              -moz-animation-name: bounce;
            }
            h3 {
              text-align: center;
              font-weight: 700;
            }
          }
        }
      }
    }
    #portfolios {
      height: auto;
      width: 100%;
      .card {
        color: #000;
        .row {
          padding: 10px 0px;
        }
        .col-xl-6 {
          .animation-div {
            padding: 10px 0px;
          }
        }
        .col-lg-12,
        .col-xl-6 {
          display: flex;
          justify-content: center;
          align-items: center;

          .animation-div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img {
              border: 10px #9000ff solid;
              border-radius: 5px;
              -webkit-animation-duration: 1s;
              animation-duration: 1s;
              -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
              -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
              animation-iteration-count: 1;
              -webkit-animation-iteration-count: 1;
            }
            img:hover {
              cursor: pointer;
              animation-name: bounce;
              -moz-animation-name: bounce;
            }
            h3 {
              text-align: center;
              font-weight: 700;
            }
          }
        }
      }
    }
    #contact-me {
      height: auto;
      width: 100%;
      .card {
        margin-bottom: 100px;
        padding-bottom: 16px;
        color: #000;
        .row {
          display: flex;
          justify-content: center;
        }
        .form-control {
          background: transparent;
          border: 1.5px solid #7510f7;
          color: #000;
          border-radius: 5px;
        }
        button {
          border: 1.5px #9000ff solid;
          color: #9000ff;
          background: transparent;
        }
        button:hover {
          background: #9000ff;
          color: #fff;
        }
        textarea {
          resize: none;
        }
      }
    }
    #footer {
      padding: 10px 0px;
      .row {
        display: flex;
        justify-content: center;
        .col-lg-9 {
          display: flex;
          justify-content: center;
          span {
            color: #9000ff;
          }
        }
      }
    }
  }
  .title {
    display: flex;
    justify-content: center;
    span {
      font-size: 2.5rem;
      margin: 30px 0px;
      font-weight: 900;
    }
  }
}

// image bounce onhover
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
